body{ 
    background-image: url("https://cdn.pixabay.com/photo/2015/05/13/22/56/cards-766106_1280.jpg");
    min-height: 100vh;
}

.boton-azul{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}